<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div class="card" style="padding:0.7rem">
                <img class="card-img-top" src="{{details.image}}" alt="{{details.name}}">
                <div class="card-body" >
                    <h4 class="card-title">{{details.name}}</h4>
                    <p class="card-text">{{details.name}}</p>
                    <a href="\products\2" class="btn btn-primary">Giá : {{details.price}}</a>
                    <a href="#" class="btn btn-danger">Đặt hàng</a>
                </div>


            </div>
</body>
</html>